<div class="products-page">

    <h1>Our Products</h1>

    @if (loading()) {

        <p>Loading products...</p>

    } @else if (error()) {

        <p>{{ error() }}</p>

    } @else if (products().length === 0) {

        <p>No products found.</p>

    } @else {

        <div class="products-grid">

            @for (product of products(); track product._id) {

                <app-product-card
                    [product]="product"
                    (addToCartEvent)="onAddToCart($event)">
                </app-product-card>

            }

        </div>

    }

</div>